@import url("./fonts.css");

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 576px) {
    .w-50 {
        flex: 0 0 auto;
        width: 75% !important;
    }

    .header-cont {
        margin-bottom: 0 !important;
        margin-top: 5rem !important;
    }

    .navbar-brand {
        transform: translate(-10px);
    }

    .mt-high {
        margin-top: 4rem !important;
    }

    .impact-container {
        padding-inline: 2rem !important;
    }

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .navbar-brand {
        transform: translate(-10px);
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .mt-high {
        margin-top: 5rem !important;
    }

    .mb-high {
        margin-bottom: 5rem !important;
        ;
    }

}

@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }

    .ps-6 {
        padding-left: 3.5rem !important;
    }

}

@media (min-width: 1600px) {
    .container {
        max-width: 1660px;
    }

}

body {
    background: #060708;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
}

.font-goodtimes {
    font-family: 'GoodTimes';
}

.text-light {
    color: #fff !important;
}

.text-green {
    color: #8DFF8A !important;
}

.text-blue {
    color: #B4EDFF !important;
}

.text-oxford {
    color: #000F25 !important;
}

.bg-blue {
    background: #B4EDFF !important
}

.text-yellow {
    color: #FDB549 !important;
}

.text-c9 {
    color: #c9c9c9 !important;
}

.text-n300 {
    color: #D1DEE6;
}

.text-n100 {
    color: #F5F8FA
}

.text-narrow-height {
    line-height: 1.2;
}

.text-justify {
    text-align: justify;
}

.bg-darkblue {
    background: #000F25;
}

.btn-padding {
    padding-inline: 20px !important;
    padding-block: 10px !important;
}

.btn-xpadding {
    padding-inline: 2rem !important;
    padding-block: 1rem !important;
}

.bg-blue-gradient {
    background: rgb(180, 237, 255);
    background: radial-gradient(circle, rgba(180, 237, 255, 1) 0%, rgba(11, 11, 11, 0) 100%);
}

.bg-green-gradient {
    background: rgb(141, 255, 138);
    background: radial-gradient(circle, rgba(141, 255, 138, 1) 0%, rgba(11, 11, 11, 0) 100%);
}

.bg-yellow-gradient {
    background: rgb(253, 181, 73);
    background: radial-gradient(circle, rgba(253, 181, 73, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.br-gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: translate(50%, 50%);
    filter: blur(100px);
}

.br-gradient-small {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    transform: translate(50%, 50%);
    filter: blur(50px);
}

.br-gradient-medium {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: translate(50%, 50%);
    filter: blur(100px);
}

.tl-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    filter: blur(100px);
}

.tl-gradient-medium {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    filter: blur(100px);
}

.tr-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: translate(50%, -50%);
    filter: blur(100px);
}

.bb-gradient {
    position: absolute;
    bottom: -130px;
    left: 0;
    z-index: -1;
    margin-inline: auto;
    right: 0;
    width: 200px;
    height: 200px;
    filter: blur(70px);
}

.hover-bb:hover .bb-gradient {
    position: absolute;
    bottom: -90px;
    left: 0;
    margin-inline: auto;
    right: 0;
    width: 200px;
    height: 200px;
    filter: blur(70px);
}


.active-nav {
    border-bottom: 2px solid #B4EDFF;
}

#bg-gradient-dots {
    background: url('./img/animations_gradient-dots-background.gif') center / 100% 100% no-repeat;
}

#bg-dots {
    background: url('./img/dots.svg') center / cover no-repeat;
}

#bg-space {
    background: url('./img/bg-space.png') center / cover no-repeat;
}

#bg-dots-school {
    background: url('./img/bg-dots-school.svg') center / cover no-repeat;
}

.white-border {
    border: 3px solid #fff;
    border-radius: 20px;
}

.br-half {
    border-right: 1.5px solid #fff !important;
}

.bl-half {
    border-left: 1.5px solid #fff !important;
}

.bt-half {
    border-top: 1.5px solid #fff !important;
}

.bb-half {
    border-bottom: 1.5px solid #fff !important;
}

.border-half {
    border: 1.5px solid #fff;
}

.r-90 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.w-20 {
    flex: 0 0 auto;
    width: 20%;
}

.w-40 {
    flex: 0 0 auto;
    width: 40%;
}

.w-60 {
    flex: 0 0 auto;
    width: 60%;
}

.w-lg-50 {
    flex: 0 0 auto;
    width: 50%;
}

.w-50 {
    flex: 0 0 auto;
    width: 50%;
}

.w-70 {
    flex: 0 0 auto;
    width: 70%;
}

.w-lg-75 {
    flex: 0 0 auto;
    width: 75%;
}

.w-75 {
    flex: 0 0 auto;
    width: 75%;
}

.w-80 {
    flex: 0 0 auto;
    width: 80%;
}

.w-90 {
    flex: 0 0 auto;
    width: 90%;
}

.h-65 {
    height: 65% !important;
}

.h-35 {
    height: 35% !important;
}

.mt-high {
    margin-top: 8rem;
}

.mb-high {
    margin-bottom: 8rem;
}

.ps-6 {
    padding-left: 5rem;
}

.big-square {
    width: 150px;
    height: 150px;
}

.small-square {
    width: 72px;
    height: 72px;
}

.bottom-line {
    border-bottom: 2px solid white !important;
}

.p-social {
    padding-inline: 0.75rem;
}


#bg-dots-tunnel {
    background: url('./img/bg-dots.svg') center / cover no-repeat;
}

.header-cont {
    display: flex;
    margin-bottom: 10rem;
    flex-direction: column;
    justify-content: center;
}

.impact-container {
    padding-inline: 10rem;
    margin-bottom: 10rem !important;
}

.pl-lg-5rem {
    padding-left: 5rem;
}

.mt-lg-high {
    margin-top: 8rem;
}

.mb-lg-high {
    margin-bottom: 8rem;
}

#tunnel-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
}

.box:hover {
    color: black !important;
    box-shadow: 5px 10px 20px #b4eeff8f;
}


.image-wrapper {
    position: relative;
    width: 300px;
    height: 200px;

    overflow: hidden;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.image-wrapper img.original {
    opacity: 1;
}

.image-wrapper img.hover {
    opacity: 0;
}

.image-wrapper:hover img.original {
    opacity: 0;
}

.image-wrapper:hover img.hover {
    opacity: 1;
}


/* */
@media (max-width:1600px) {}

@media (max-width:1200px) {}


@media (max-width: 992px) {}


@media (max-width: 768px) {
    #tunnel-header {
        height: 600px;
        width: unset !important;
        transform: translate(-20%);
    }

    .mt-high {
        margin-top: 4rem !important;
    }

    .w-70 {
        width: 80%;
        flex: 0 0 auto;
    }

    .w-lg-50 {
        width: 100%;
        flex: 0 0 auto;
    }

    .w-lg-75 {
        flex: 0 0 auto;
        width: 100%;
    }

    .pl-lg-5rem {
        padding-left: unset !important;
    }

    .mt-lg-high {
        margin-top: 0 !important;
    }

    .mb-lg-high {
        margin-bottom: 0 !important;
    }

    .big-square {
        width: 75px !important;
        height: 75px !important;
    }

    .small-square {
        width: 36px !important;
        height: 36px !important;
    }

}


@media (max-width: 576px) {
    #tunnel-header {
        height: 600px;
        width: unset !important;
        transform: translate(-20%);
    }

    .mt-high {
        margin-top: 4rem !important;
    }

    #future-goals-cont {
        height: 200px;
    }

    #future-goals-img {
        position: absolute;
        height: 500px !important;
        width: 100%;
        transform: translate(0, -30%);
    }
}


@media (max-width: 380px) {
    #tunnel-header {
        height: 500px;
        width: unset !important;
        transform: translate(-20%);
    }

    .mt-high {
        margin-top: 4rem;
    }

    #future-goals-cont {
        height: 200px;
    }

    #future-goals-img {
        position: absolute;
        height: 300px !important;
        width: 100%;
        transform: translate(0, -10%);
    }

}